<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bixin.sona.server.room.mapper.RoomOperateLogMapper">
    <resultMap id="BaseResultMap" type="cn.bixin.sona.server.room.domain.db.RoomOperateLog">
        <result column="room_id" jdbcType="BIGINT" property="roomId" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="operate" jdbcType="VARCHAR" property="operate" />
        <result column="operator" jdbcType="VARCHAR" property="operator" />
    </resultMap>
    <sql id="Base_Column_List">
        room_id, type, operate, operator
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" parameterType="cn.bixin.sona.server.room.domain.db.RoomOperateLog">
        insert into t_room_operate_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                room_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="operate != null">
                operate,
            </if>
            <if test="operator != null">
                operator,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                #{roomId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="operate != null">
                #{operate},
            </if>
            <if test="operator != null">
                #{operator},
            </if>
        </trim>
    </insert>
</mapper>