<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bixin.sona.server.room.mapper.RoomConfigMapper">
    <resultMap id="BaseResultMap" type="cn.bixin.sona.server.room.domain.db.RoomConfig">
        <!--@mbg.generated-->
        <!--@Table t_room_config-->
        <result column="room_id" property="roomId"/>
        <result column="product_code" property="productCode"/>
        <result column="im_module" property="imModule"/>
        <result column="im_send_type" property="imSendType"/>
        <result column="stream_supplier" property="streamSupplier"/>
        <result column="type" property="type"/>
        <result column="push_mode" property="pushMode"/>
        <result column="pull_mode" property="pullMode"/>
        <result column="enter_notify_switch" property="enterNotifySwitch"/>
        <result column="check_admin" property="checkAdmin"/>
        <result column="need_replay" property="needReplay"/>
        <result column="client_type" property="clientType"/>
        <result column="bitrate" property="bitrate"/>
        <result column="short_code" property="shortCode"/>
    </resultMap>

    <sql id="Base_Column_List">
                room_id,
                product_code,
                im_module,
                stream_supplier,
                type,
                push_mode,
                pull_mode,
                im_send_type,
                enter_notify_switch,
                check_admin,
                need_replay,
                client_type,
                bitrate,
                short_code
    </sql>

    <select id="findRoomConfig" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_room_config
        WHERE room_id = #{roomId}
    </select>

    <select id="findRoomConfigBatch" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_room_config
        WHERE room_id IN
        <foreach collection="roomIds" item="roomId" open="(" close=")" separator=",">
            #{roomId}
        </foreach>
    </select>

<!--auto generated by MybatisCodeHelper on 2022-09-14-->
    <insert id="insertSelective">
        INSERT INTO t_room_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                room_id,
            </if>
            <if test="imModule != null">
                im_module,
            </if>
            <if test="imSendType != null">
                im_send_type,
            </if>
            <if test="streamSupplier != null">
                stream_supplier,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="pullMode != null">
                pull_mode,
            </if>
            <if test="pushMode != null">
                push_mode,
            </if>
            <if test="enterNotifySwitch != null">
                enter_notify_switch,
            </if>
            <if test="checkAdmin != null">
                check_admin,
            </if>
            <if test="needReplay != null">
                need_replay,
            </if>
            <if test="clientType != null">
                client_type,
            </if>
            <if test="productCode != null">
                product_code,
            </if>
            <if test="bitrate != null">
                bitrate,
            </if>
            <if test="shortCode != null">
                short_code
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                #{roomId},
            </if>
            <if test="imModule != null">
                #{imModule},
            </if>
            <if test="imSendType != null">
                #{imSendType},
            </if>
            <if test="streamSupplier != null">
                #{streamSupplier},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="pullMode != null">
                #{pullMode},
            </if>
            <if test="pushMode != null">
                #{pushMode},
            </if>
            <if test="enterNotifySwitch != null">
                #{enterNotifySwitch},
            </if>
            <if test="checkAdmin != null">
                #{checkAdmin},
            </if>
            <if test="needReplay != null">
                #{needReplay},
            </if>
            <if test="clientType != null">
                #{clientType},
            </if>
            <if test="productCode != null">
                #{productCode},
            </if>
            <if test="bitrate != null">
                #{bitrate}
            </if>
            <if test="shortCode != null">
                #{shortCode}
            </if>
        </trim>
    </insert>

    <update id="updateStreamConfigAudios"  parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t_room_config
            <set>
                stream_supplier=#{item.streamSupplier},
                push_mode= #{item.pushMode},
                pull_mode = #{item.pullMode},
                bitrate = #{item.bitrate}
            </set>
            where room_id = #{item.roomId}
        </foreach>
    </update>
</mapper>