<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bixin.sona.console.mapper.ProductConfigMapper">
  <resultMap id="BaseResultMap" type="cn.bixin.sona.console.domain.db.ProductConfig">
    <!--@mbg.generated-->
    <!--@Table t_product_config-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="im_module" jdbcType="VARCHAR" property="imModule" />
    <result column="stream_supplier" jdbcType="VARCHAR" property="streamSupplier" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="push_mode" jdbcType="VARCHAR" property="pushMode" />
    <result column="pull_mode" jdbcType="VARCHAR" property="pullMode" />
    <result column="enter_notify_switch" jdbcType="TINYINT" property="enterNotifySwitch" />
    <result column="check_admin" jdbcType="TINYINT" property="checkAdmin" />
    <result column="need_replay" jdbcType="TINYINT" property="needReplay" />
    <result column="client_type" jdbcType="TINYINT" property="clientType" />
    <result column="bitrate" jdbcType="INTEGER" property="bitrate" />
    <result column="im_send_type" jdbcType="TINYINT" property="imSendType" />
    <result column="short_code" jdbcType="VARCHAR" property="shortCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, product_code, im_module, stream_supplier, `type`, push_mode, pull_mode, enter_notify_switch, 
    check_admin, need_replay, client_type, bitrate, im_send_type, short_code,
    create_time, update_time
  </sql>
<!--auto generated by MybatisCodeHelper on 2022-09-08-->
  <select id="selectByProductCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product_config
        where product_code=#{productCode,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-09-08-->
  <select id="selectByProductCodeIn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_product_config
    where product_code in
    <foreach item="item" index="index" collection="productCodeCollection"
             open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>
</mapper>