<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bixin.sona.console.mapper.RoomConfigMapper">
  <resultMap id="BaseResultMap" type="cn.bixin.sona.console.domain.db.RoomConfig">
    <!--@mbg.generated-->
    <!--@Table t_room_config-->
    <id column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="im_module" jdbcType="VARCHAR" property="imModule" />
    <result column="stream_supplier" jdbcType="VARCHAR" property="streamSupplier" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="push_mode" jdbcType="VARCHAR" property="pushMode" />
    <result column="pull_mode" jdbcType="VARCHAR" property="pullMode" />
    <result column="enter_notify_switch" jdbcType="TINYINT" property="enterNotifySwitch" />
    <result column="check_admin" jdbcType="TINYINT" property="checkAdmin" />
    <result column="need_replay" jdbcType="TINYINT" property="needReplay" />
    <result column="client_type" jdbcType="TINYINT" property="clientType" />
    <result column="bitrate" jdbcType="INTEGER" property="bitrate" />
    <result column="im_send_type" jdbcType="TINYINT" property="imSendType" />
    <result column="short_code" jdbcType="VARCHAR" property="shortCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    room_id, product_code, im_module, stream_supplier, `type`, push_mode, pull_mode, 
    enter_notify_switch, check_admin, need_replay, client_type, bitrate,
    im_send_type, short_code, create_time, update_time
  </sql>
<!--auto generated by MybatisCodeHelper on 2022-09-08-->
  <select id="selectByStreamSupplierAndPullMode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_room_config
        <where>
            <if test="streamSupplier != null">
                and stream_supplier=#{streamSupplier,jdbcType=VARCHAR}
            </if>
            <if test="pullMode != null">
                and pull_mode=#{pullMode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2022-09-08-->
  <select id="selectByRoomIdIn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_room_config
    where room_id in
    <foreach item="item" index="index" collection="roomIdCollection"
             open="(" separator="," close=")">
      #{item,jdbcType=BIGINT}
    </foreach>
  </select>
</mapper>